.nested-fields
  = f.inputs do
    = f.input :date, label: "Estimated collection date", hint: "When will you gather this data?", :input_html => { :id => 'datepicker'}
    %p= link_to_remove_association "<button, class='btn btn-default'>Remove this date</button>".html_safe, f
