.nested-fields
  = f.inputs do
    .row
      .col-sm-2
        = f.input :date, :input_html => {"data-provide" => "datepicker", "data-date-autoclose" => true}
    %p= link_to_remove_association "Remove this date", f
