.container
  %h3 Evaluative question
  %dl.dl-horizontal
    %dt Category
    %dd= @evaluative_question.category.capitalize
    %dt Description
    %dd= @evaluative_question.description
    - @evaluative_question.performance_indicators.each do |performance_indicator|
      %dt Perfomance indicator description
      %dd= performance_indicator.description
  .dropdown.closed
    %button#dropdownMenuButton.btn.btn-default.btn-sm.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
      Actions
    .dropdown-menu{"aria-labelledby" => "dropdownMenuButton"}
      %ul.list-unstyled{:style => "padding: 0px 10px 0px 10px", }
        %li
          %a.dropdown-item{:href => edit_evaluative_question_path(@evaluative_question)} Edit current question
        %li
          %a.dropdown-item{:href => new_evaluative_question_path( framework_id: @evaluative_question.framework)} Add another evaluative question
        %li
          %a.dropdown-item{:href => framework_path(@evaluative_question.framework)} View #{@evaluative_question.framework.name.downcase} framework