.container
  %h3 Performance indicator
  = semantic_form_for @performance_indicator do |f|
    = f.input :numerator, :label => f.object.numerator_label
    = f.input :denominator, :label => f.object.denominator_label
    = f.action :submit, label: 'Submit changes'