/ .container
/   %h2 Performance indicator data input
/   %h4= @performance_indicator.description
/   = semantic_form_for @performance_indicator do |f|
/     = f.input :numerator, :label => "#{ f.object.numerator_label }"
/     = f.input :denominator, :label => "#{ f.object.denominator_label }"
/     = f.action :submit, label: 'Submit changes'

/ .container
/   %h3 CHP Diary

/   - if @performance_indicators.any?

/     - @performance_indicators.each do |indicator|
/       - indicator.data_questions.each_with_index do |question, index|
/         = "#{index + 1}. #{question.description}"
/         - if question.type = 'Yes / No'
/           - question.options.each do |option|
/   - else
/     %p This is where data will be entered after performance indicators have been created.
