.container
  - if @evaluative_questions.any?
    %h2= "Evaluative framework for #{@framework.program.name}"
    = render partial: 'table'
  - else
    %p This is where the evaluative framework will appear after it has been built.