.div{:style => "margin-top: 30px"}

  .panel.panel-default{:style => "width: 100%"}
    .panel-body
      %h3 The problem
      Describe the problem you are solving.
      %h3 The solution
      Describe your proposed solution.