.nested-fields
  %h3 Add outputs
  = f.inputs do
    = f.input :description, label: "Output description", :input_html => { :rows => 3, :id => 'output'}
    %p= link_to_remove_association "<button, class='btn btn-warning'>Remove this output</button>".html_safe, f