.container
  %h3 Evaluative Monitoring Framework

  %p This is a landing page. It might contain an organizational overview.

  %ul
    %li To add data to the other tabs, start with the "Create framework" tab.
    %li You will need to add an evaluative question and one or more sub-questions on the second page and performance indicators on the third page.
    %li After you have completed set up steps, go to the "View frameworks" tab to see the results.
    %li Go to the "Data entry" tab and enter some numbers (the denominator should be bigger than the numerator). Then visit the dashboard.
