.container
  %h3 Evaluative Monitoring Framework
  %p This is a landing page. It might contain an organizational overview.
  %p Start by going to the 'set up' tab.  Try to fill out all the fields - you can add more than one sub-question and performance indicator.

  %p You will need to add an evaluative question and one or more sub-questions on the first page, then click next. Add performance indicators on the second page, including labels for what we are graphing (e.g. # of working filters, # of malfunctioning filters.

  %p After you have completed both set up steps, go to the data tab and enter some numbers (the denominator should be bigger than the numerator). Then go to the dashboard to see some graphs. You can also view the framework in list form on the framework tab once you have completed set up.
