= semantic_form_for [@survey_template, @survey] do |f|
  - @survey_template.data_questions.each do |data_question|
    = f.semantic_fields_for :data_questions, data_question do |data_question|
      = render 'survey_questions_fields', f: data_question, question: data_question.object
  = f.action :submit, label: "Submit", :button_html => { :class => 'btn btn-success' }
