.nested-fields
  = f.inputs do
    = question.description
    = f.semantic_fields_for :survey_responses do |survey_response|
      = render 'survey_responses_fields', f: survey_response, question: question

