.container
  - @survey.survey_questions.each do |question|
    %p
      = question.description
    %ul
      - question.survey_responses.each do |response|
        %li= response.input_value
  .dropdown
    %button#dropdownMenu1.btn.btn-success.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
      Actions
      %span.caret
    %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1"}
      %li
        %a{:href => new_survey_template_survey_path(@survey.survey_template)} Administer this survey
      %li
        %a{:href => results_survey_template_path(@survey.survey_template)} View survey results

  / TODO Not sure if we want to allow surveys to be edited
  / = link_to "Edit", edit_survey_template_survey_path(@survey_template, @survey), :class => "btn btn-default btn-xs"