/ .panel.panel-default{:style => "width: 100%"}
  / .panel-heading
  /   %h3.panel-title Efficiency
  / .panel-body
  /   .row
  /     .col-sm-12
  /       %ul
  /         %li What are the costs of the intervention?
  /         %li Was the intervention implemented on time and within budget?