/ .panel.panel-default{:style => "width: 100%"}
/   .panel-heading
/     %h3.panel-title Effectiveness
/   .panel-body
/     .row
/       .col-sm-12
/         %ul
/           %li How well was the intervention implemented?
/           %li What are the outputs of the intervention?
/           %li How many people have been affected?
/     .row
/       - if @survey_template/.present? && @survey_template.has_responses?
/         - @survey_template.data_questions.each do |question|
/           - data_hash = {}
/           - question.options.each do |option|
/             - if ['Yes / No', 'True / False', 'Multiple choice'].include? question.question_type
/               - survey_response = SurveyResponse.response_total(question.id, option.description)
/               - data_hash[option.description] = survey_response
/           - if data_hash.present?
/             - unless question.display_value == 'Do not display'
/               .col-sm-4
/                 %h4= question.description
/                 - if question.display_value == 'Pie chart'
/                   = pie_chart data_hash, width: "200px", height: "200px"
/                 - elsif question.display_value == 'Bar chart'
/                   = bar_chart data_hash, width: "200px", height: "200px"
/                 - elsif question.display_value == 'Text'
/                   %ul
/                     - question.options.each do |option|
/                       %li
/                         = "#{option.description} - "
/                         - if ['Yes / No', 'True / False', 'Multiple choice'].include? question.question_type
/                           - survey_response = SurveyResponse.response_total(question.id, option.description)
/                           = survey_response
/                           - data_hash[option.description] = survey_response
/           - if @analyses.any?
/             - @analyses.each do |analysis|
/               - unless analysis.display_value == 'Do not display'
/                 .col-sm-4
/                   - data_hash = analysis.build_data_hash
/                   %h4= analysis.title
/                   %p= analysis.description
/                   - if analysis.display_value == 'Pie chart'
/                     = pie_chart data_hash, width: "200px", height: "200px"
/                   - elsif analysis.display_value == 'Bar chart'
/                     = bar_chart data_hash, width: "200px", height: "200px"
/                   - elsif analysis.display_value == 'Text'
/                     .container
/                       - data_hash.each do |key, value|
/                         %li= "#{key}: #{value}"