/ .panel.panel-default{:style => "width: 100%"}
/   .panel-heading
/     %h3.panel-title Impact
/   .panel-body
/     .row
/       .col-sm-12
/         %ul
/         %li How has the population's health changed as a result of the intervention?
/         %li How many people have been affected?