/ .panel.panel-default{:style => "width: 100%"}
/   .panel-heading
/     %h3.panel-title Relevance
/   .panel-body
/     .row
/       .col-sm-12
/         %ul
/           %li Is the target population concerned about the issue that has been identified?
/           %li Does the target population support the proposed intervantion?