/ .panel.panel-default{:style => "width: 100%"}
/   .panel-heading
/     %h3.panel-title Sustainability
/   .panel-body
/     .row
/       .col-sm-12
/         %ul
/         %li Is the target population satisfied with the results of the intervention?
/         %li To what extent will the intervention be maintained once support is withdrawn?