.container
  %h3 Add evaluative framework
  = semantic_form_for @framework do |f|
    = f.input :name, :label => 'Program name'
    = f.action :submit, label: 'Update', :button_html => { :class => 'btn btn-success' }
