.container
  %h3 Frameworks
  %p= link_to "Create new framework", new_framework_path, :class => "btn btn-default btn-xs"
  - if @frameworks.any?
    - @frameworks.each do |framework|
      %span
        = framework.name
        = link_to "View", framework_path(framework), :class => "btn btn-default btn-xs"
        = link_to "Edit", edit_framework_path(framework), :class => "btn btn-default btn-xs"

