.container
  %h2 Framework
  - if @evaluative_questions.any?
    .text-center
      .btn-group
        = link_to 'View as list', framework_path(@framework, view_as: 'list'), class: "btn btn-default"
        = link_to 'View as table', framework_path(@framework, view_as: 'table'), class: "btn btn-default"
    = render partial: @view_as
  - else
    %p This is where the framework will appear after it has been built.