.container
  - if @survey_templates.any?
    - @survey_templates.each do |template|
      .dropdown
        = template.name
        %button#dropdownMenu1.btn.btn-default.btn-sm.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
          Dropdown
          %span.caret
        %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1"}
          %li
            %a{:href => new_survey_template_survey_path(template)} Administer a survey
          %li
            %a{:href => results_survey_template_path(template)} View survey results
