.container
  %h2= @survey_template.name
  - @survey_template.data_questions.each do |question|
    %ol
      %li= question.description
      - question.options.each do |option|
        %ul
          %li= option.description

  = link_to "Administer this survey", new_survey_template_survey_path(@survey_template), :class => "btn btn-success"

