.container
  %h2= @survey_template.name
  - @survey_template.data_questions.each do |question|
    %ol
      %li= question.description
      - question.options.each do |option|
        %ul
          %li= option.description
  .dropdown
    %button#dropdownMenu1.btn.btn-success.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
      Actions
      %span.caret
    %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1"}
      %li
        %a{:href => new_survey_template_survey_path(@survey_template)} Administer this survey
      %li
        %a{:href => results_survey_template_path(@survey_template)} View survey results

